In [114]:
#import the python library 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
%matplotlib inline

#here i set limits on what i allow the phyton to show in tables
from pandas import set_option
set_option('display.max_rows',8) 
#limits rows show in tablle by 10(above). change this number if you want more or less rows visible

#import weather data to python. 
weather_data_quest = pd.read_csv('QuestU_Remote_Weather_Station_oct312015.csv',)

#assigning columns names 
weather_data_quest.columns=[['num_test','Date_Time','Rainfall','temperature','relative_humidity','wind_direction','wind_speed','gust_speed']]

# making my my index veiwed as a date time subject not a string. 
weather_data_quest['Date_Time'] = pd.to_datetime(weather_data_quest['Date_Time'])

#show what the table of weather_data_quest looks like. 
weather_data_quest

,num_test,Date_Time,Rainfall,temperature,relative_humidity,wind_direction,wind_speed,gust_speed
0,1,2015-09-23 09:04:59,NaN,12.243,84.6,64.6,0.76,6.30
1,2,2015-09-23 09:19:59,0.0,12.316,84.4,92.7,0.00,0.76
2,3,2015-09-23 09:34:59,0.0,12.340,84.7,1.4,0.00,1.51
3,4,2015-09-23 09:49:59,0.0,12.074,84.6,7.0,0.00,1.26
...,...,...,...,...,...,...,...,...
3665,3666,2015-10-31 13:19:59,0.2,12.654,94.5,99.7,0.00,1.51
3666,3667,2015-10-31 13:34:59,0.0,12.122,97.9,233.1,0.00,1.76
3667,3668,2015-10-31 13:49:59,0.2,11.880,98.2,203.6,0.00,2.52
3668,3669,2015-10-31 14:04:59,0.4,11.734,98.1,140.4,0.00,0.50

In [115]:
weather_data_quest.dtypes

num_test                      int64
Date_Time            datetime64[ns]
Rainfall                    float64
temperature                 float64
relative_humidity           float64
wind_direction              float64
wind_speed                  float64
gust_speed                  float64
dtype: object

In [126]:
#here i set my idex as my date time value
weather_data_quest.index= weather_data_quest['Date_Time']

In [127]:
weather_data_quest

,num_test,Date_Time,Rainfall,temperature,relative_humidity,wind_direction,wind_speed,gust_speed
Date_Time,,,,,,,,
2015-09-23 09:04:59,1,2015-09-23 09:04:59,NaN,12.243,84.6,64.6,0.76,6.30
2015-09-23 09:19:59,2,2015-09-23 09:19:59,0.0,12.316,84.4,92.7,0.00,0.76
2015-09-23 09:34:59,3,2015-09-23 09:34:59,0.0,12.340,84.7,1.4,0.00,1.51
2015-09-23 09:49:59,4,2015-09-23 09:49:59,0.0,12.074,84.6,7.0,0.00,1.26
...,...,...,...,...,...,...,...,...
2015-10-31 13:19:59,3666,2015-10-31 13:19:59,0.2,12.654,94.5,99.7,0.00,1.51
2015-10-31 13:34:59,3667,2015-10-31 13:34:59,0.0,12.122,97.9,233.1,0.00,1.76
2015-10-31 13:49:59,3668,2015-10-31 13:49:59,0.2,11.880,98.2,203.6,0.00,2.52
2015-10-31 14:04:59,3669,2015-10-31 14:04:59,0.4,11.734,98.1,140.4,0.00,0.50

In [121]:
def creating_daily_averages (data):
    '''this is to create a dataframe that has averages over a day for each column'''
    data_resampled= data.resample('D', how=('mean'))
    return data_resampled

In [122]:
def creating_daily_averages_test():
   
    '''this is to test that the function creating_daily_averages works '''
    
    test_data = creating_daily_averages(weather_data_quest_resampled)
    
    #The expected values were calculated using excel. 
    expected = [0.3291667, 11.102094, 99.995833, 190.584375, 0.005208, 0.340729]
    column_number = 0
    
    #Here i am checking that the dates are the what we are expecting. 
    
    assert weather_data_quest_resampled.index[0] + 1 == weather_data_quest_resampled.index[1]
    
    #this test was to determine if that values calculated were are the right ones. 
    for val in weather_data_quest_resampled.iloc[1,:]:
        assert val == expected[column_number]
        column_number += 1
    #pring the functoin works if it passes the test.    
    print("The function works.")

In [123]:
creating_daily_averages_test()

AssertionError:

I could not get my second test to work. for some reason it refused to check simular values. i also think the problem might have something to do with the number of decimals that i calculated to and how mine i rounded off at 6 but python would not nessisarly choice the same amount of decimals.

This fucntoin would be usefull if i decide to create daily analysis instead of every 15 minutes analysis. This could produce more readable graphs but i think i would loss accuracy if did statisical analysis over day then over 15 minutes.

In [128]:
#using the function to create the chart. 
creating_daily_averages(weather_data_quest)

,num_test,Rainfall,temperature,relative_humidity,wind_direction,wind_speed,gust_speed
Date_Time,,,,,,,
2015-09-23,30.5,0.033898,12.384017,87.890000,176.568333,0.037667,0.893667
2015-09-24,108.5,0.329167,11.102094,99.995833,190.584375,0.005208,0.340729
2015-09-25,204.5,0.025000,11.536969,93.942708,208.150000,0.041667,0.668958
2015-09-26,300.5,0.004167,10.808479,88.062500,197.532292,0.104687,1.170104
...,...,...,...,...,...,...,...
2015-10-28,3372.5,0.114583,8.744552,97.994792,259.208333,0.000000,0.144167
2015-10-29,3468.5,0.037500,10.408594,97.385417,257.223958,0.104583,1.177708
2015-10-30,3564.5,0.129167,9.601740,98.932292,237.186458,0.075937,0.931771
2015-10-31,3641.0,0.252632,9.510333,97.712281,202.954386,0.145789,1.370175

In [129]:
#using other process to prove that my function works. 
weather_data_quest_resampled= weather_data_quest.resample('D', how= ('mean'))
weather_data_quest_resampled

,num_test,Rainfall,temperature,relative_humidity,wind_direction,wind_speed,gust_speed
Date_Time,,,,,,,
2015-09-23,30.5,0.033898,12.384017,87.890000,176.568333,0.037667,0.893667
2015-09-24,108.5,0.329167,11.102094,99.995833,190.584375,0.005208,0.340729
2015-09-25,204.5,0.025000,11.536969,93.942708,208.150000,0.041667,0.668958
2015-09-26,300.5,0.004167,10.808479,88.062500,197.532292,0.104687,1.170104
...,...,...,...,...,...,...,...
2015-10-28,3372.5,0.114583,8.744552,97.994792,259.208333,0.000000,0.144167
2015-10-29,3468.5,0.037500,10.408594,97.385417,257.223958,0.104583,1.177708
2015-10-30,3564.5,0.129167,9.601740,98.932292,237.186458,0.075937,0.931771
2015-10-31,3641.0,0.252632,9.510333,97.712281,202.954386,0.145789,1.370175